.card {
  position: relative;
  transition: all 0.5s;
  -webkit-perspective: 150rem;
  perspective: 120rem;
  cursor: pointer;
  &__tour {
    background-color: $section-back-color;
    height: 45rem;
    width: 30rem;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.6s;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    &--front {
      z-index: 5;
      transform: rotateY(0deg);
    }
    &--back {
      background-image: linear-gradient(
        to right,
        rgba($color-secondary-light-1, 0.9),
        rgba($color-secondary-light-2, 0.9)
      );
      transform: rotateY(180deg);
      text-align: center;
      &--2 {
        background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light-1, 0.9),
          rgba($color-tertiary-light-2, 0.9)
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.9),
          rgba($color-primary-dark, 0.9)
        );
      }
    }
    &--list {
      &-ul {
        margin-top: 2rem;
        list-style: none;
        text-align: center;
        li {
          margin: 0 auto;
          max-width: 18rem;
          font-size: 1.8rem;
          padding: 1rem 0;
          border-bottom: 1px solid rgba($color-black, 0.1);
        }
      }
    }
    &--price {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      text-transform: uppercase;
      &-only {
        font-size: 2rem;
        margin-bottom: 7rem;
      }
      &-pr {
        font-size: 6rem;
        font-weight: normal;
      }
    }
  }
  &__photo {
    background-image: linear-gradient(
        to right,
        rgba($color-secondary-light-1, 0.4),
        rgba($color-secondary-light-2, 0.4)
      ),
      url(../../img/nat-6.jpg);
    background-size: cover;
    clip-path: polygon((0 0, 100% 0%, 100% 80%, 0% 100%));
    width: 100%;
    height: 45%;
    z-index: 10;
    -webkit-background-blend-mode: revert;
    background-blend-mode: revert;
    &--3 {
      background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.6)
        ),
        url(../../img/nat-7.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light-1, 0.6),
          rgba($color-tertiary-light-2, 0.6)
        ),
        url(../../img/nat-8.jpg);
    }
    &--info {
      position: absolute;
      top: 10rem;
      right: 3rem;
      padding: 1rem;
      background-image: linear-gradient(
        to right,
        rgba($color-secondary-light-1, 0.5),
        rgba($color-secondary-light-2, 0.5)
      );
      font-size: 2.5rem;
      color: $color-white;
      line-height: 1.6;
      text-transform: uppercase;
      text-align: right;
      &--3 {
        background-image: linear-gradient(
          to right,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.6)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right,
          rgba($color-tertiary-light-1, 0.6),
          rgba($color-tertiary-light-2, 0.6)
        );
      }
    }
  }
  &:hover {
    .card__tour--front {
      transform: rotateY(180deg);
    }
    .card__tour--back {
      transform: rotateY(0deg);
    }
  }
}
.story {
  padding: 6rem;
  max-width: 60%;
  margin: 8rem auto;
  background-color: $section-back-color;
  transform: skewX(-12deg);
  > * {
    transform: skewX(12deg);
  }
  &__img {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 3rem;
    &--box {
      height: 100%;
      transform: translateX(-3.4rem) scale(1.4);
      transition: all 0.6s;
    }
    &--text {
      color: $color-white;
      position: absolute;
      line-height: 1.6;
      font-size: 1.6rem;
      text-transform: uppercase;
      z-index: 10;
      display: block;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  &__info {
    color: $color-text;
    &--title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      &::after {
        content: "";
        display: none;
      }
    }
    &--text {
      font-size: 1.6rem;
      line-height: 1.7;
      display: inline;
      width: 75%;
    }
  }
  &:hover {
    .story__img--box {
      filter: blur(0.2rem) brightness(80%);
      transform: scale(1) translateX(-4rem);
    }
    .story__img--text {
      top: 50%;
      opacity: 1;
    }
  }
}
