.section-about {
  padding: 25rem 0;
  background-color: $section-back-color;
  margin-top: -30vh;
  margin-bottom: 9rem;
}
.section-feature {
  padding: 35rem 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-light, 0.9)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}
